<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Subject</td>
      <td>Content</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.mail.date %></td>
        <td><%= email.mail.subject %></td>
        <td><%= email.mail.decode_body.truncate(100) %></td>
        <td><%= link_to "Show", email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
