<h3>HTML</h3>
<div>
  <iframe src="?raw=true" frameborder="0"></iframe>
</div>

<hr>

<h3>Plain Text</h3>
<div>
  <iframe src="<%= request.original_url + ".txt?raw=true" %>" frameborder="0"></iframe>
</div>
