<% flash.each do |key, value| %>
  <div class="w-96 py-2 px-4 text-gray-600 mb-2 rounded-lg <%= key == "notice" ? "bg-green-50" : "bg-yellow-50" %>">
    <p class="text-xs text-gray-300 uppercase"><%= key %></p>
    <%= value %>
  </div>
<% end %>
