<% flash.each do |key, value| %>
  <div class="w-96 bg-yellow-50 py-2 px-4 text-gray-600 mb-2 rounded-lg">
    <p class="text-xs text-gray-300 uppercase"><%= key %></p>
    <%= value %>
  </div>
<% end %>
