<header class="bg-gray-100">
  <div class="px-5">
    <h1 class="my-5 font-mono text-2xl font-bold">
      <%= link_to root_path do %>
        Testbox
      <% end %>
    </h1>

    <hr>

    <div class="my-2">
      <small class="font-sans text-sm font-normal text-gray-500">A place to send your non-production emails.</small>
    </div>
  </div>
</header>
