<%= simple_form_for new_inbox, html: { class: "" } do |f| %>
  <div class="flex flex-row">
    <%= f.input :name,
      label: false,
      placeholder: "Name"
    %>
    <div class="flex flex-column justify-center h-11">
      <%= button_tag :submit, class: "border-b-2 border-gray-400 hover:border-blue-600 ml-1 py-auto cursor-pointer h-full w-7 text-gray-500 hover:text-blue-600", title: "Create Inbox" do %>
        <span aria-hidden=true>
          <%= inline_svg_tag "icons/check.svg" %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
